<div class="card">
  <div class="card-header" *ngIf="bank">
    {{pageTitle + ": " + bank.name}}
  </div>
  <div class="card-body" *ngIf="bank">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">Name:</div>
          <div class="col-md-6">{{bank.name}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Address:</div>
          <div class="col-md-6">{{bank.address}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Gender:</div>
          <div class="col-md-6">{{bank.contact}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Email:</div>
          <div class="col-md-6">{{bank.email}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Location:</div>
          <div class="col-md-6">{{bank.location}}</div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <button class="btn btn-outline-secondary mr-3" style="width:80px" (click)="onBack()">
          <i class="fa fa-chevron-left"></i> Back
        </button>
        <button class="btn btn-outline-primary" style="width:80px"
                [routerLink]="['/banks', 'edit', bank.id]">
          Edit
        </button>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
</div>
